// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add_friend {
	display: inline-block;
}

.link_to_user{
	display: inline-block;
}

.friend {
	display: inline-block;
}

.unfriend {
	display: inline-block;
}